<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="/">URL.short</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <% if(user){ %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download"
                        aria-expanded="false"><%=user.name%> <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a href="/auth/logout" class="dropdown-item">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a href="/auth/settings" class="dropdown-item">Settings</a>
                    </div>
                </li>
            </ul>


            <% } else{ %>
            <a href="/auth/login" class="btn btn-outline-success my-sm-0 mr-2">Login</a>
            <a href="/auth/register" class="btn btn-outline-success my-sm-0">Register</a>
            <% } %>
        </form>
    </div>
</nav>