<form action="/auth/login" methods="POST">

    <div class="form-group">
        <label for="url"> Place your URL* </label>
        <input type="text" name="url" id="url" class="form-control">
    </div>
    <div class="form-group">
        <label for="custom_link"> Custom Link </label>
        <input type="text" name="custom_link" id="custom_link" class="form-control">
    </div>

    <div class="text-center">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
    
</form>